<launch>
  <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_broadcaster" args="1 0 0 0 0 0 1 base_link laser" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="radar_broadcaster" args="1 0 0 0 0 0 1 base_link radar" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar_and_radar.rviz" />
</launch>
