<launch>
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>  
    <param name="serial_baudrate"     type="int"    value="256000"/><!--A3 -->
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
    <param name="scan_mode"           type="string" value="Stability"/>
  </node>
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_broadcaster" args="1 0 0 3.141593 0 0 base_link laser" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_closest_point_broadcaster" args="0 0 0 3.141593 0 0 laser lidar_closest_point" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="radar_broadcaster" args="1 0 0 0 0 0 base_link radar" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="radar_closest_broadcaster" args="0 0 0 0 0 0 radar radar_closest_object" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="radar_all_data_broadcaster" args="0 0 0 0 0 0 radar radar_all_data" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="radar_video_speed_broadcaster" args="0 0 0 0 0 0 radar radar_video_speed" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="radar_video_distance_broadcaster" args="0 0 0 0 0 0 radar radar_video_distance" />
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="gps_broadcaster" args="1 0 0 0 0 0 base_link gps_data" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="rad_lid_closest_dif_broadcaster" args="1 0 0 0 0 0 base_link radar_lidar_closest_difference" />
  
  <group ns="zed">
        <include file="$(find zed_wrapper)/launch/include/zed_camera.launch.xml">
            <arg name="camera_name"         value="zed" />
            <arg name="svo_file"            value="" />
            <arg name="stream"              value="" />
            <arg name="node_name"           value="zed_node" />
            <arg name="camera_model"        value="zed" />
            <arg name="base_frame"          value="base_link" />
            <arg name="publish_urdf"        value="true" />
            <arg name="cam_pos_x"           value="0.0" />
            <arg name="cam_pos_y"           value="0.0" />
            <arg name="cam_pos_z"           value="0.0" />
            <arg name="cam_roll"            value="0.0" />
            <arg name="cam_pitch"           value="0.0" />
            <arg name="cam_yaw"             value="0.0" />
        </include>
    </group>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar_and_radar.rviz" />
</launch>
